*{
  margin: 0;
  box-sizing: border-box;
}

.navBarStyle {
  font-size: 30px;
  color: aqua;
}

.logo {
  width: 200px;
  height: 200px;
}

.navBarColor {
  background: linear-gradient(to right, rgba(77,90,92,255), rgba(46,54,58,255));
}

.navbar .nav-link {
  font-size: 20px;
  color: white !important;
}

.greeting {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgb(204, 204, 204);
}